{% extends "base.html" %}
{% block body %}
    <section class="section pb-0">

      <!-- Content -->
      <div class="container">
        <div class="row">
          <div class="col">

            <!-- Header -->
            <div class="header bg-cover" style="background-image: url({{ url_for('static',filename='assets/img/15.jpg') }});"></div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

    <!-- ABOUT
    ================================================== -->
    <section class="section pb-0">

      <!-- Content -->
      <div class="container">
        <div class="row">
          <div class="col-md-2">

            <!-- Title -->
            <h6 class="title">
              緣起
            </h6>

          </div>
          <div class="col-md-5">

            <!-- Heading -->
            <h3 class="mb-4">
              同心協力
            </h3>

            <!-- Content -->
            <blockquote class="blockquote">
              <p class="mb-0">
                整理者，承襲長輩 震富阿叔、銘宗阿叔（大房-第四代）、志鴻，花費相當心力、時間、財力，將姚乙族譜整理，後進者轉換型式成果，借花獻佛於網路平台，讓姚乙子孫眾人能見到，前人整理心血及無私熱情，與有榮焉。
              </p>
            </blockquote>
            <p class="text-muted">
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

    <section class="section pb-0">

      <!-- Content -->
      <div class="container">
        <div class="row">
          <div class="col-md-2">

            <!-- Title -->
            <h6 class="title">
              念想
            </h6>

          </div>
          <div class="col-md-10">

            <!-- Heading -->
            <h3 class="mb-4">
              飲水思源
            </h3>

            <!-- Subheading -->
            <p class="text-muted mb-5">
                從何而來，欲往何去。不知姚氏家族發展緣起、飲水思源，恐白來人世一遭。
                先祖篳路藍縷、傳承各代，從艱困的環境中拼搏，子孫後代繁衍、立足於先人基礎拓展各方，姚家子孫發展至今、人才輩出，每每子孫同輩或後輩相見，卻點頭而不相識，近年家族每遭
                倚重長輩仙逝噩耗，除不捨外更是惋惜，長輩所傳承之無私、公益精神，容音宛在，念茲在茲話語猶如春風在耳，承先啟後是驅策後生晚輩前進之動力。
            </p>


          </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>
    <!-- QUOTE
    ================================================== -->
    <section class="section">

      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9">

            <!-- Quote -->
            <div class="quote">
              <blockquote class="quote-blockquote">
                <p class="quote-blockquote-content">
                    落其實者思其樹，飲其流者懷其源。
                </p>
                <footer class="quote-blockquote-footer">
                  <span class="text-zigzag">
                    ——南北朝·庾信《徵調曲》
                  </span>
                </footer>
              </blockquote>
            </div> <!-- / .quote -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

{% endblock %}