{% extends "base.html" %} {% block body %}
<section class="section">
  <!-- Background image -->
  <div
    class="bg-image d-flex justify-content-center align-items-center"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
      height: 50vh;
    "
  >
    <h1 class="text-white">活動花絮</h1>
  </div>
</section>
<!-- Title -->
<section class="section pt-0">
  <link
    href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}"
    rel="stylesheet"
  />
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h6 class="title">分類</h6>
        <ul class="list-unstyled sticky-top mb-5 mb-md-0" style="top: 7.5rem">
          <li class="nav-link text-xs text-uppercase mb-2">
            <a href="{{ url_for('album') }}" target="_self"> 所有分類 </a>
          </li>
          <li class="nav-link text-xs text-uppercase mb-2">
            <a href="#"> 活動花絮 </a>
          </li>
          <li class="nav-link text-xs text-uppercase mb-2">
            <a href="#"> 歷史照片 </a>
          </li>
        </ul>
      </div>
      <div class="col-md-10">
        <div>
          <h3 class="mb-4">所有分類</h3>
        </div>
        <div class="pb-5 mb-5 border-bottom"></div>
        <div>
          {% for item in albums%}
          <a href="{{url_for('album_id',id=item.id)}}"
            ><div class="card mb-3" style="max-width: 100%">
              <div class="row g-0">
                <div class="col-md-4">
                  {% if item.album_imgs.count() > 0%}
                  <img
                    src="data:;base64,{{base64.b64encode(item.album_imgs[0].file.read()).decode('utf-8')}}"
                    alt="..."
                    style="width: 100%"
                  />
                  {%endif%}
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h3 class="card-title" style="color: black">
                      {{item.title}}
                    </h3>
                    <pre
                      class="card-text"
                      style="
                        overflow: hidden;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        box-sizing: border-box;
                        width: 100%;
                      "
                    >
{{item.text| striptags}}</pre
                    >
                    <p class="card-text">
                      <small class="text-muted"
                        >相片數:{{item.album_imgs.count()}}</small
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="border-bottom" id="news"></div
          ></a>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
