<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/ico/favicon-16x16.png">
    <link rel="manifest" href="assets/ico/site.webmanifest">
    <link rel="mask-icon" href="assets/ico/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Plugins CSS -->
    <link href="{{ url_for('static',filename='assets/libs/flickity/dist/flickity.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/libs/flickity-fade/flickity-fade.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/libs/fullpage.js/dist/fullpage.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/libs/highlightjs/styles/codepen-embed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/libs/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/libs/incline-icons/style.min.css') }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ url_for('static',filename='assets/css/theme.min.css') }}" rel="stylesheet">

  </head>
  <body>
    <!-- LATEST
    ================================================== -->
    <section>
      <div class="container section pb-0">
        <div class="row">
          <div class="col-12 col-md-9 col-lg-10 order-md-1">

            <a class="row align-items-center text-nounderline" href="blog-post.html">
              <div class="col-12 col-md-9">

                <!-- Meta -->
                <p class="mb-2 text-xs text-muted">
                  by <strong class="text-body">John Doe</strong> 5 days ago
                </p>

                <!-- Heading -->
                <h4>
                  Why do you need to join an affiliate marketing network
                </h4>

                <!-- Text -->
                <p class="mb-0 text-sm text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>

              </div>
            </a> <!-- / .row -->

            <hr class="my-4">

            <a class="row align-items-center text-nounderline" href="blog-post.html">
              <div class="col-12 col-md-9">

                <!-- Meta -->
                <p class="mb-2 text-xs text-muted">
                  by <strong class="text-body">Judy Doe</strong> 5 days ago
                </p>

                <!-- Heading -->
                <h4>
                  Free classifieds using them to promote your stuff online
                </h4>

                <!-- Text -->
                <p class="mb-0 text-sm text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>

              </div>
            </a> <!-- / .row -->

            <hr class="my-4">

            <a class="row align-items-center text-nounderline" href="blog-post.html">
              <div class="col-12 col-md-9">

                <!-- Meta -->
                <p class="mb-2 text-xs text-muted">
                  by <strong class="text-body">Jane Roe</strong> 6 days ago
                </p>

                <!-- Heading -->
                <h4>
                  Are you ready to buy a home theater audio system
                </h4>

                <!-- Text -->
                <p class="mb-0 text-sm text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>

              </div>
            </a> <!-- / .row -->

            <hr class="my-4">

            <a class="row align-items-center text-nounderline" href="blog-post.html">

              <div class="col-12 col-md-9">

                <!-- Meta -->
                <p class="mb-2 text-xs text-muted">
                  by <strong class="text-body">John Doe</strong> 7 days ago
                </p>

                <!-- Heading -->
                <h4>
                  3 ways to persuade people thinking about buying
                </h4>

                <!-- Text -->
                <p class="mb-0 text-sm text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>

              </div>
            </a> <!-- / .row -->

            <hr class="my-4">

            <a class="row align-items-center text-nounderline" href="blog-post.html">
              <div class="col-12 col-md-9">

                <!-- Meta -->
                <p class="mb-2 text-xs text-muted">
                  by <strong class="text-body">Judy Doe</strong> 2 weeks ago
                </p>

                <!-- Heading -->
                <h4>
                  The golden rules graphic designer don't want you to know about
                </h4>

                <!-- Text -->
                <p class="mb-0 text-sm text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>

              </div>
            </a> <!-- / .row -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Global JS -->
    <script src="{{url_for('static', filename='assets/libs/jquery/dist/jquery.min.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>

    <!-- Plugins JS -->
    <script src="{{url_for('static', filename='assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/flickity/dist/flickity.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/flickity-fade/flickity-fade.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/jquery-parallax.js/parallax.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/waypoints/lib/jquery.waypoints.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/waypoints/lib/shortcuts/inview.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/fullpage.js/vendors/scrolloverflow.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/fullpage.js/dist/fullpage.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/highlightjs/highlight.pack.min.js')}}"></script>

    <!-- Theme JS -->
    <script src="{{url_for('static', filename='assets/js/theme.min.js')}}"></script>

  </body>
</html>