{% extends "base.html" %}
{% block body %}

    <link href="{{ url_for('static',filename='css/bootstrap-treeview.css') }}" rel="stylesheet">
    <title>大房世系表</title>

<section class="section section-top section-full">
  <h2>姚乙-家族 大房世系表</h2>
    <div class="body genealogy-body genealogy-scroll">
        <div class="genealogy-tree">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <div class="member-view-box">
                            <div class="member-image">
                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                <div class="member-details">
                                    <h6>(第一代)<br>姚乙<br>妻-黃氏麥</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                    <ul class="active">
                        <li>
                            <a href="javascript:void(0);">
                                <div class="member-view-box">
                                    <div class="member-image">
                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                        <div class="member-details">
                                            <h6>
                                                (第二代)<br>長子-姚碟<br>長媳-黃氏市
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul >
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>長男-姚萬紫</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>次子-姚寶鐘<br>次媳-曾氏領</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長子-姚森雄<br>長媳-黃素華</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長子-姚志煥</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚嘉琳</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次女-姚嘉惠</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次男-姚松雄</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>三子-姚炳雄<br>三媳-謝秀雀</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚蓉穎</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>四子-姚秋雄<br>      </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚宣嫚</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>五子-姚金和<br>五媳-吳艷琪</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長子-姚志鴻</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次子-姚志穎</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>六子-姚金旺<br>六媳-白曼伶</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長子-姚宣佑</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長女-姚秀枝</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次女-姚米娥</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>三女-姚米雪</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                     <h6>(第三代)<br>三子-姚寶連<br>三媳-陳玉英</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長子-陳玉寶</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次子-姚銘坤<br>次媳-謝雪美</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長子-姚丞謙</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚宜均</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次女-姚怡安</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>三子-姚銘宗<br>三媳-林素梅</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚思羽</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次女-姚靜雅</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>三女-姚佑芯</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長女-姚秀菊</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次女-姚秀玉</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>三女-姚秀霞</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>四女-姚秀花</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>五女-姚秀滿</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>六女-姚秀美</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>四子-姚寶財</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>五子-姚寶元<br>五媳-林玉枝</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長子-姚武田<br>長媳-鐘淑玲</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長子-姚舜傑</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次子-姚秋貴<br>次媳-劉芳君</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚佳妤</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                     </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次女-姚佳璇</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                     </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長女-姚綉珍</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次女-姚淑珠</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>長女-姚氏真</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>次女-姚氏幼</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>三女-姚氏夜</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="member-view-box">
                                    <div class="member-image">
                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                        <div class="member-details">
                                            <h6>(第二代)<br>長女-姚氏好</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap-treeview.js')}}"></script>
{% endblock %}


