{% extends "base.html" %}
{% block body %}

    <link href="{{ url_for('static',filename='css/bootstrap-treeview.css') }}" rel="stylesheet">
    <title>四房世系表</title>

<section class="section section-top section-full">
  <h2>姚乙-家族 四房世系表</h2>
    <div class="body genealogy-body genealogy-scroll">
        <div class="genealogy-tree">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <div class="member-view-box">
                            <div class="member-image">
                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                <div class="member-details">
                                    <h6>(第一代)<br>姚乙<br>妻-黃氏麥</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                    <ul class="active">
                        <li>
                            <a href="javascript:void(0);">
                                <div class="member-view-box">
                                    <div class="member-image">
                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                        <div class="member-details">
                                            <h6>
                                                (第二代)<br>四子-姚壽<br>四媳-柯氏梗
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul >
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>長子-姚金龍<br>長媳-王美女</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長子-姚朝陽<br>長媳-黃寶專</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚佳琪</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次女-姚佳華</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長女-姚阿霞</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次女-姚麗嬌</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>三女-姚麗娟</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>四女-姚麗雯</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>次子-姚金火<br>次媳-林柑</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長子-姚有鑫<br>長媳-董綉櫻</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長子-姚錦成</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次子-姚佳緯</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚慧敏</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次女-姚麗華</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次子-姚櫻堂<br>次媳-施麗珍</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長子-姚武</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次子-姚文</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚欣玉</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>三子-姚清勝<br>三媳-黃美珍</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長子-姚承翰</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚奕瑋</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                <div class="member-details">
                                                     <h6>(第三代)<br>三男-姚金安</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>四子-姚金城<br>四媳-黃來發</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長子-姚震富<br>長媳-張麗玉</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚宜婷</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次女-姚佩彤</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>三女-姚佩純</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>四女-姚家臻</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次子-姚睿豐<br>次媳-許心瑀</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長子-姚榮尹</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次子-姚登杰</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>三子-姚秉溢</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長女-姚美梨</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次女-姚美月</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>三女-姚晏而</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>五子-姚金福<br>五媳-郭綉葵</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長子-姚錫正</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次子-姚升富</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長女-姚麗香</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次女-姚思岑</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>六男-姚金財</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>長女-姚金珠</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>次女-姚金玉</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap-treeview.js')}}"></script>
{% endblock %}


