<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="{{ url_for('static',filename='css/bootstrap-treeview.css') }}" rel="stylesheet">

    <title>四房世系表</title>
  </head>
  <body>
  <h2>姚乙-家族 四房世系表</h2>
    <div class="body genealogy-body genealogy-scroll">
        <div class="genealogy-tree">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <div class="member-view-box">
                            <div class="member-image">
                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                <div class="member-details">
                                    <h3>(第一代)<br>姚乙<br>妻-黃氏麥</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                    <ul class="active">
                        <li>
                            <a href="javascript:void(0);">
                                <div class="member-view-box">
                                    <div class="member-image">
                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                        <div class="member-details">
                                            <h3>
                                                (第二代)<br>四子-姚壽<br>四媳-柯氏梗
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul >
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h3>(第三代)<br>長子-姚金龍<br>長媳-王美女</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>長子-姚朝陽<br>長媳-黃寶專</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>長女-姚佳琪</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>次女-姚佳華</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>長女-姚阿霞</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>次女-姚麗嬌</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>三女-姚麗娟</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>四女-姚麗雯</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h3>(第三代)<br>次子-姚金火<br>次媳-林柑</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>長子-姚有鑫<br>長媳-董綉櫻</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>長子-姚錦成</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>次子-姚佳緯</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>長女-姚慧敏</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>次女-姚麗華</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>次子-姚櫻堂<br>次媳-施麗珍</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>長子-姚武</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>次子-姚文</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>長女-姚欣玉</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>三子-姚清勝<br>三媳-黃美珍</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>長子-姚承翰</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>長女-姚奕瑋</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                <div class="member-details">
                                                     <h3>(第三代)<br>三男-姚金安</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h3>(第三代)<br>四子-姚金城<br>四媳-黃來發</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>長子-姚震富<br>長媳-張麗玉</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>長女-姚宜婷</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>次女-姚佩彤</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>三女-姚佩純</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>四女-姚家臻</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>次子-姚睿豐<br>次媳-許心瑀</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>長子-姚榮尹</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>次子-姚登杰</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h3>(第五代)<br>三子-姚秉溢</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>長女-姚美梨</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>次女-姚美月</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>三女-姚晏而</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h3>(第三代)<br>五子-姚金福<br>五媳-郭綉葵</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>長子-姚錫正</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>次子-姚升富</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>長女-姚麗香</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h3>(第四代)<br>次女-姚思岑</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h3>(第三代)<br>六男-姚金財</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h3>(第三代)<br>長女-姚金珠</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h3>(第三代)<br>次女-姚金玉</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap-treeview.js')}}"></script>



  </body>

</html>


