{% extends "base.html" %}
{% block body %}

    <!-- HERO
    ================================================== -->
    <section class="section section-top section-full">

      <!-- Cover -->
      <div class="bg-cover" style="background-image: url({{ url_for('static',filename='assets/img/ancestor.jpg') }});"></div>

      <!-- Overlay -->
      <div class="bg-overlay"></div>

      <!-- Triangles -->
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

      <!-- Content -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-5 align-self-end">


            <!-- Heading -->
            <h1 class="text-white mb-4" data-toggle="animation" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="load">
              先祖：姚乙公
            </h1>

            <!-- Subheading -->
            <p class="text-white text-muted mb-5 mb-md-0" data-toggle="animation" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="load">
              我們共同的祖先姚乙公，生於西元1859年，適逢清朝末年，戰禍綿延，民不聊生的時代。約西元1880年先祖正值年輕力壯，單身一人來到彰化寓埔村，並受雇於黃笚一家，從事農耕工作，因工作努力勤奮，深受黃姓雇主信賴和倚重。黃姓雇主特將其長女許配，並於西元1888年與黃氏麥結為連。傳承至今，已至第六代，子孫約百餘人。 「姚乙公」與「黃氏麥」兩位先祖，共育有五子一女， 即現今「姚氏五房」由來，世居寓埔村祖宅現址。
            </p>

          </div>
          <div class="col-md-4 col-lg-7 align-self-center d-flex justify-content-end">

            <!-- Heading -->
            <h4 class="text-vertical text-white mb-0">
              <span>家族史</span>
            </h4>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>
<!-- MODELS
    ================================================== -->
    <section class="section">
      <div class="model">

        <!-- Content -->
        <div class="container">
          <div class="row align-items-center mb-5">
            <div class="col-12">

              <div class="slider slider-no-controls" id="productSliderLg" data-bind="slider" data-target="#productSliderSm">
                <div class="slider-item">

                  <div class="row">
                    <div class="col-md-1 d-flex align-self-center d-flex justify-content-end">

                      <!-- Category -->
                      <div class="model-cat mb-4 mb-md-0">
                        <h4 class="text-vertical">
                          <span class="model-cat-title text-zigzag fade show">
                            各房介紹
                          </span>
                        </h4>
                      </div>

                    </div>
                    <div class="col-md-4">

                      <!-- Heading -->
                      <h3 class="model-heading mb-4 fade show">
                        大房介紹
                      </h3>

                      <!-- Content -->
                      <div class="model-content mb-5 mb-md-0 fade show">

                        <!-- Blockquote -->
                        <blockquote class="blockquote">
                          <p class="mb-0">
                            姚碟公
                          </p>
                        </blockquote>

                        <!-- Content -->
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ipsam et consequuntur fugiat, numquam consequatur ducimus dolorem maxime ratione!
                        </p>

                        <!-- Button -->
                        <a href="#!" class="btn btn-outline-primary">
                          Ready More
                        </a>

                      </div> <!-- / .model-content -->

                    </div>
                  </div> <!-- / .row -->
                </div>
                <div class="slider-item">

                  <div class="row">
                    <div class="col-md-1 d-flex align-self-center d-flex justify-content-end">

                      <!-- Category -->
                      <div class="model-cat mb-4 mb-md-0">
                        <h4 class="text-vertical">
                          <span class="model-cat-title text-zigzag fade show">
                            各房介紹
                          </span>
                        </h4>
                      </div>

                    </div>
                    <div class="col-md-4">

                      <!-- Heading -->
                      <h3 class="model-heading mb-4 fade show">
                        二房介紹
                      </h3>

                      <!-- Content -->
                      <div class="model-content mb-5 mb-md-0 fade show">

                        <!-- Blockquote -->
                        <blockquote class="blockquote">
                          <p class="mb-0">
                            姚皮公
                          </p>
                        </blockquote>

                        <!-- Content -->
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ipsam et consequuntur fugiat, numquam consequatur ducimus dolorem maxime ratione!
                        </p>

                        <!-- Button -->
                        <a href="#!" class="btn btn-outline-primary">
                          Ready More
                        </a>

                      </div> <!-- / .model-content -->

                    </div>
                  </div> <!-- / .row -->
                </div>
                <div class="slider-item">

                  <div class="row">
                    <div class="col-md-1 d-flex align-self-center d-flex justify-content-end">

                      <!-- Category -->
                      <div class="model-cat mb-4 mb-md-0">
                        <h4 class="text-vertical">
                          <span class="model-cat-title text-zigzag fade show">
                            各房介紹
                          </span>
                        </h4>
                      </div>

                    </div>
                    <div class="col-md-4">

                      <!-- Heading -->
                      <h3 class="model-heading mb-4 fade show">
                        三房介紹
                      </h3>

                      <!-- Content -->
                      <div class="model-content mb-5 mb-md-0 fade show">

                        <!-- Blockquote -->
                        <blockquote class="blockquote">
                          <p class="mb-0">
                            姚番公
                          </p>
                        </blockquote>

                        <!-- Content -->
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ipsam et consequuntur fugiat, numquam consequatur ducimus dolorem maxime ratione!
                        </p>

                        <!-- Button -->
                        <a href="#!" class="btn btn-outline-primary">
                          Ready More
                        </a>

                      </div> <!-- / .model-content -->

                    </div>
                  </div> <!-- / .row -->
                </div>
                <div class="slider-item">

                  <div class="row">
                    <div class="col-md-1 d-flex align-self-center d-flex justify-content-end">

                      <!-- Category -->
                      <div class="model-cat mb-4 mb-md-0">
                        <h4 class="text-vertical">
                          <span class="model-cat-title text-zigzag fade show">
                            各房介紹
                          </span>
                        </h4>
                      </div>

                    </div>
                    <div class="col-md-4">

                      <!-- Heading -->
                      <h3 class="model-heading mb-4 fade show">
                        四房介紹
                      </h3>

                      <!-- Content -->
                      <div class="model-content mb-5 mb-md-0 fade show">

                        <!-- Blockquote -->
                        <blockquote class="blockquote">
                          <p class="mb-0">
                            姚壽公
                          </p>
                        </blockquote>

                        <!-- Content -->
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ipsam et consequuntur fugiat, numquam consequatur ducimus dolorem maxime ratione!
                        </p>

                        <!-- Button -->
                        <a href="{{ url_for('four_organizational_chart') }}" class="btn btn-outline-primary">
                          四房世系表
                        </a>

                      </div> <!-- / .model-content -->

                    </div>
                  </div> <!-- / .row -->
                </div>
                <div class="slider-item">

                  <div class="row">
                    <div class="col-md-1 d-flex align-self-center d-flex justify-content-end">

                      <!-- Category -->
                      <div class="model-cat mb-4 mb-md-0">
                        <h4 class="text-vertical">
                          <span class="model-cat-title text-zigzag fade show">
                            各房介紹
                          </span>
                        </h4>
                      </div>

                    </div>
                    <div class="col-md-4">

                      <!-- Heading -->
                      <h3 class="model-heading mb-4 fade show">
                        五房介紹
                      </h3>

                      <!-- Content -->
                      <div class="model-content mb-5 mb-md-0 fade show">

                        <!-- Blockquote -->
                        <blockquote class="blockquote">
                          <p class="mb-0">
                            姚五公
                          </p>
                        </blockquote>

                        <!-- Content -->
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ipsam et consequuntur fugiat, numquam consequatur ducimus dolorem maxime ratione!
                        </p>

                        <!-- Button -->
                        <a href="#!" class="btn btn-outline-primary">
                          Ready More
                        </a>

                      </div> <!-- / .model-content -->

                    </div>
                  </div> <!-- / .row -->
                </div>
              </div> <!-- / .slider -->

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->

      </div> <!-- / .model -->
    </section>


    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Global JS -->
    <script src="{{url_for('static', filename='assets/libs/jquery/dist/jquery.min.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>

    <!-- Plugins JS -->
    <!--<script src="{{url_for('static', filename='assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>-->
    <script src="{{url_for('static', filename='assets/libs/flickity/dist/flickity.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/flickity-fade/flickity-fade.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/jquery-parallax.js/parallax.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/waypoints/lib/jquery.waypoints.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/waypoints/lib/shortcuts/inview.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/fullpage.js/vendors/scrolloverflow.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/fullpage.js/dist/fullpage.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/highlightjs/highlight.pack.min.js')}}"></script>


    <!-- Theme JS -->
    <script src="{{url_for('static', filename='assets/js/theme.min.js')}}"></script>
{% endblock %}
