{% extends "base.html" %} {% block body %}
<section class="section">
  <!-- Background image -->
  <div
    class="bg-image d-flex justify-content-center align-items-center"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
      height: 50vh;
    "
  >
    <h1 class="text-white">最新消息</h1>
  </div>
</section>
<!-- Title -->
<section class="section pt-0">
  <link
    href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}"
    rel="stylesheet"
  />
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h6 class="title">分類</h6>
        <ul class="list-unstyled sticky-top mb-5 mb-md-0" style="top: 7.5rem">
          <li class="nav-link text-xs text-uppercase mb-2">
            <a href="{{ url_for('news') }}" target="_self"> 所有分類 </a>
          </li>
          <li class="nav-link text-xs text-uppercase mb-2">
            <a href="#"> 活動公告 </a>
          </li>
          <li class="nav-link text-xs text-uppercase mb-2">
            <a href="#"> 會議公告 </a>
          </li>
          <li class="nav-link text-xs text-uppercase mb-2">
            <a href="#"> 系統公告 </a>
          </li>
        </ul>
      </div>
      <div class="col-md-10">
        <div>
          <h3 class="mb-4">所有分類</h3>
        </div>
        <div class="pb-5 mb-5 border-bottom"></div>
        <div>
          {% for item in news%}
          <a href="{{url_for('news_id',id=item.id)}}"
            ><div class="card mb-3" style="max-width: 100%">
              <div class="row g-0">
                <div class="col">
                  <div class="card-body">
                    <p
                      class="card-text"
                      style="color: rgb(65, 65, 65); font-size: 0.5rem"
                    >
                      {{item.add_date}}
                    </p>
                    <h3 class="card-title" style="color: black">
                      【{{item.tag}}】{{item.title}}
                    </h3>
                    <pre
                      class="card-text"
                      style="
                        overflow: hidden;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        box-sizing: border-box;
                        width: 100%;
                      "
                    >
{{item.text | striptags}}</pre
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="border-bottom" id="news"></div
          ></a>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
