<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/ico/favicon-16x16.png">
    <link rel="manifest" href="assets/ico/site.webmanifest">
    <link rel="mask-icon" href="assets/ico/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Plugins CSS -->
    <link href="{{ url_for('static',filename='assets/libs/flickity/dist/flickity.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/libs/flickity-fade/flickity-fade.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/libs/fullpage.js/dist/fullpage.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/libs/highlightjs/styles/codepen-embed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/libs/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/libs/incline-icons/style.min.css') }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ url_for('static',filename='assets/css/theme.min.css') }}" rel="stylesheet">

    <title>Incline | FAQ</title>
  </head>
  <body>

    <!-- FAQ
    ================================================== -->
    <section class="section pb-0">

      <!-- Content -->
      <div class="container">
        <div class="row">
          <div class="col-md-10">

            <!-- Heading -->
            <h3 class="mb-4">
              Need help? Browse our <span class="text-primary">FAQs</span>
            </h3>

            <!-- Subheading -->
            <p class="text-muted mb-5">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione architecto nobis perspiciatis error itaque ab voluptas nam officiis, necessitatibus perferendis, accusamus, adipisci amet, explicabo eligendi voluptate quasi corporis in reprehenderit.
            </p>

            <!-- FAQ -->
            <div class="faq">

              <!-- Item -->
              <div class="faq-item">

                <!-- Heading -->
                <a href="#faq-item-content-1" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-1" aria-expanded="false" role="button">
                  Numquam odit architecto itaque adipisci eius quis sed praesentium?
                </a>

                <!-- Content -->
                <div class="faq-item-content collapse" id="faq-item-content-1">
                  <div class="faq-item-content-inner">
                    <p class="mb-0">
                      Alias animi rerum omnis ab tempora ratione voluptatem natus distinctio, aut perspiciatis, minima neque, reprehenderit asperiores deserunt et nesciunt ut enim veniam.
                        <div class="faq-item">
                            <a href="#faq-item-content-1" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-1" aria-expanded="false" role="button">
                                Numquam odit architecto itaque adipisci eius quis sed praesentium?
                            </a>
                        </div>
                    </p>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Global JS -->
    <script src="{{url_for('static', filename='assets/libs/jquery/dist/jquery.min.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>

    <!-- Plugins JS -->
    <script src="{{url_for('static', filename='assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/flickity/dist/flickity.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/flickity-fade/flickity-fade.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/jquery-parallax.js/parallax.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/waypoints/lib/jquery.waypoints.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/waypoints/lib/shortcuts/inview.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/fullpage.js/vendors/scrolloverflow.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/fullpage.js/dist/fullpage.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/highlightjs/highlight.pack.min.js')}}"></script>

    <!-- Theme JS -->
    <script src="{{url_for('static', filename='assets/js/theme.min.js')}}"></script>

  </body>
</html>