{% extends "base.html" %}
{% block body %}

    <link href="{{ url_for('static',filename='css/bootstrap-treeview.css') }}" rel="stylesheet">
    <title>二房世系表</title>

<section class="section section-top section-full">
  <h2>姚乙-家族 二房世系表</h2>
    <div class="body genealogy-body genealogy-scroll">
        <div class="genealogy-tree">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <div class="member-view-box">
                            <div class="member-image">
                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                <div class="member-details">
                                    <h6>(第一代)<br>姚乙<br>妻-黃氏麥</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                    <ul class="active">
                        <li>
                            <a href="javascript:void(0);">
                                <div class="member-view-box">
                                    <div class="member-image">
                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                        <div class="member-details">
                                            <h6>
                                                (第二代)<br>次子-姚皮<br>次媳-黃氏劉
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul >
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>長子-姚旗<br>長媳-曾氏粉</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長子-姚文田<br>長媳-黃美遊</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長子-姚程朧</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次子-姚順彰</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚蘋軒</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次女-姚淑禎</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次子-姚文玉</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長子-姚量議</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次子-姚量豪</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚斯萍</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長女-姚桂花</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次女-姚桂梅</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>三女-姚碧雲</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>四女-姚水雲</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>五女-姚碧卿</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>次子-姚金發</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                     <h6>(第三代)<br>長女-姚氏多</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="member-view-box">
                                    <div class="member-image">
                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                        <div class="member-details">
                                            <h6>(第二代)<br>長女-姚氏好</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap-treeview.js')}}"></script>
{% endblock %}


