{% extends "base.html" %}
{% block body %}

    <link href="{{ url_for('static',filename='css/bootstrap-treeview.css') }}" rel="stylesheet">
    <title>三房世系表</title>

<section class="section section-top section-full">
  <h2>姚乙-家族 三房世系表</h2>
    <div class="body genealogy-body genealogy-scroll">
        <div class="genealogy-tree">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <div class="member-view-box">
                            <div class="member-image">
                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                <div class="member-details">
                                    <h6>(第一代)<br>姚乙<br>妻-黃氏麥</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                    <ul class="active">
                        <li>
                            <a href="javascript:void(0);">
                                <div class="member-view-box">
                                    <div class="member-image">
                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                        <div class="member-details">
                                            <h6>
                                                (第二代)<br>三子-姚番<br>三媳-林氏櫸
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul >
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>長子-姚號明<br>長媳-柯水花</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長子-姚財源<br>長媳-廖美智</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長子-姚佳佑</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚美妤</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次女-姚君妮</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/man_woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次子-姚財彬<br>次媳-蔡淑慧</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/man.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長子-姚佳奇</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>長女-姚亭羽</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <div class="member-view-box">
                                                            <div class="member-image">
                                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                                <div class="member-details">
                                                                    <h6>(第五代)<br>次女-姚惠馨</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>長女-姚玉燕</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>次女-謝繡窓</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                        <div class="member-details">
                                                            <h6>(第四代)<br>三女-姚繡帘</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                    <h6>(第三代)<br>長女-姚閃桃</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                                <div class="member-details">
                                                     <h6>(第三代)<br>次女-姚氏胎</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="member-view-box">
                                    <div class="member-image">
                                        <img src="{{ url_for('static',filename='assets/img/woman.png') }}" alt="Member">
                                        <div class="member-details">
                                            <h6>(第二代)<br>長女-姚氏好</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap-treeview.js')}}"></script>
{% endblock %}


